.sidenav-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #eee;
}
.header-image {
  margin: 20px 60px;
}
.avatar {
  vertical-align: middle;
  width: 50px;
  height: 50px;
  /*border-radius: 50%;*/
}
.button-class:focus {
  outline: none;
}
.button-position{
  margin-left: 50px;
}
.welcome-text{
  color: #a5a5a5;
  font-weight: 900;
  font-size: 33px;
  margin-top: 25%;
  text-align: center;
}
